footer {
  background-color: var(--bg-header-home-footer);
  color: var(--letters-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Source Sans 3", sans-serif;
  font-size: large;
}

/* Estilos para a linha horizontal <hr> */
hr {
  width: 90%;
  display: block;
  margin-top: 0.3em;
  border-bottom: none;
}

/* Estilo para a seção SOCIAL */
.social_section_footer {
  display: flex;
  width: 90%;
  gap: 5%;
  margin: 2rem 0;
}

/* Estilo para o artio TITLE dentro da seção SOCIAL */
.title_article_footer {
  width: 70%;
}

/* Estilo para o título <h2> dentro do artigo TITLE */
.title_article_footer h2 {
  margin-bottom: 3%;
  letter-spacing: 1.5px;
  font-size: 1.5rem;
}

/* Estilo para o parágrafo dentro do artigo TITLE */
.title_article_footer p {
  width: 60%;
}

/* Estilos para a seção LINKS dentro da seção SOCIAL */
.social_article_footer {
  display: flex;
  flex-direction: column;
  width: 25%;
}

/* Estilos para o título <h2> dentro da seção LINKS */
.social_article_footer h2 {
  margin-bottom: 10%;
  letter-spacing: 1.5px;
  font-size: 1.5rem;
}

/* Estilos para os links dentro da seção LINKS */
.links_footer {
  width: 1.5rem;
  margin-right: 15px;
  cursor: pointer;
}

/* Estilos para a seção COPYRIGHT */
.copyright_section_footer {
  margin: 2rem 0;
}

/* Estilos para todo o texto dentro da seção COPYRIGHT e os parágrafo dentro do artigo TITLE */
.copyright_section_footer p,
.title_article_footer p,
.copyright_link_footer {
  color: var(--letters-color);
}

/* Estilos responsivos para telas com largura máxima de 768px */
@media screen and (max-width: 550px) {
  .title_article_footer {
    width: 70%;
  }
  .title_article_footer p {
    width: 80%;
  }
  .social_article_footer {
    width: 30%;
  }
}

/* Estilos responsivos para telas com larguras máxima de 550px */
@media screen and (max-width: 550px) {
  .social_section_footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title_article_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: justify;
    padding-bottom: 8%;
  }
  .title_article_footer p {
    width: 95%;
  }
  .social_article_footer {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .social_article_footer h2 {
    margin-bottom: 3%;
  }
}
