/* Estilos gerais para a seção home */
.section_home {
  position: relative;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--bg-header-home-footer);
  align-items: center;
}

/* Estilos para o título da seção */
.article_home_title {
  color: var(--letters-color);
  position: absolute;
  left: 12%;
  line-height: 140%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: -2px;
  font-size: 5.5rem;
  z-index: 10;
}

/* Estilos para os links na seção */
.link_home {
  text-decoration: none;
  color: inherit;
}

/* Estilos para as divs que mudam no hover */
.div_home_one,
.div_home_two,
.div_home_three {
  cursor: pointer;
  display: block;
  overflow: hidden;
}

/* Efeito de animação no hover das divs */
.div_home_one:hover,
.div_home_two:hover,
.div_home_three:hover {
  animation-name: titleMove;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

/* Estilos para algumas divs */
.div_home_two,
.div_home_three {
  color: var(--details-red);
}

/* Efeito de animação ao carregar */
.animate_one,
.animate_two,
.animate_three {
  animation-name: animate;
  animation-duration: 0.6s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0.2, 0.6, 0.2, 1);
}

/* Delay para a animação individual */
.animate_one {
  animation-delay: 0.2s;
}
.animate_two {
  animation-delay: 0.6s;
  color: var(--details-red);
}
.animate_three {
  animation-delay: 1s;
  color: var(--details-red);
}

/* Estilos para a indicação de click */
.p_home_indication {
  display: none;
  position: absolute;
  bottom: 5%;
  left: 40%;
  color: var(--letters-color);
  z-index: 20;
}

/* Estilos para a foto do fundo */
.article_home_photo {
  position: fixed;
  top: -35%;
  right: 0;
  bottom: 0;
  left: 35%;
  background: url("/photo_profile.png");
  background-repeat: no-repeat;
}

/* Efeito de animação na foto de fundo */
.animate_photo {
  animation-name: animate_photo;
  animation-duration: 0.7s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0.2, 0.6, 0.2, 1);
}

/* Animação de movimento para o título */
@keyframes titleMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50px);
  }
}

/* Animação genérica */
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animação da foto de fundo */
@keyframes animate_photo {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Animação de salto para dispositivos móveis */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

/* Medias Queries */

/* Estilo para teas pequenas (móveis) */
@media screen and (max-width: 576px) {
  .article_home_title {
    font-size: 4rem;
    left: 5%;
  }
  .article_home_photo {
    left: 0;
  }
  .p_home_indication {
    display: block;
    animation: bounce 0.5s cubic-bezier(0.5, 0.6, 0.6, 1) infinite alternate;
  }
}
@media screen and (min-width: 576px) and (max-width: 1024px) {
  .article_home_title {
    font-size: 4.9rem;
    left: 8%;
  }
  .article_home_photo {
    left: 20%;
  }
  .p_home_indication {
    display: block;
    animation: bounce 0.5s cubic-bezier(0.5, 0.6, 0.6, 1) infinite alternate;
  }
}
