/* Estilo para a seção principal de trabalho */
.main_work {
  background-color: rgba(240, 240, 240, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 10%;
}
/* Estilo para o conteúdo principal de trabalho */
.main_p_work {
  padding-top: 50px;
  color: #111;
  line-height: 1.6;
  width: 50%;
  text-align: center;
}
