/* Reset de estilos para todos os elementos */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Define variáveis de cores personalizadas */
:root {
  --details-red: #d82020;
  --bg-header-home-footer: #000;
  --letters-color: #fff;
}

h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3.5rem;
}

h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #292929;
  font-size: 2.5rem;
}

p {
  color: #3b3838;
  font-size: 1.1rem;
}

button {
  line-height: 2;
  letter-spacing: 2px;
  width: 60%;
  font-size: medium;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
}
